<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Hello Twitter Stream</title>
	<link rel="stylesheet" href="./css/bootstrap-4.4.1.min.css" />
	<script src="./js/jquery-3.4.1.min.js"></script>
	<script src="./js/jquery-ui-1.12.1.min.js"></script>
	<script src="./js/bootstrap-4.4.1.min.js"></script>
	<script src="./js/vue-2.6.11.min.js"></script>
	<link rel="icon" type="image/svg" href="./emoji.svg" />
</head>
<body>
	<h1>Calculator Example(計算機範本)</h1>
</body>
</html>